@using SecureDocumentStorage.Models.DocumentViewModels
@model DocumentInfoViewModel

@{
    ViewData["Title"] = "Upload";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/upload/normalize.min.css" rel="stylesheet" />
<link href="~/css/upload/upload-styles.css" rel="stylesheet" />
<script src="~/js/upload/upload-manager.js"></script>
<script src="~/js/crypto/crypto-manager.js"></script>
<script src="~/js/crypto/aes.js"></script>
<script>
    $(document).ready(function () {
        uploadManager.init();
        cryptoManager.init();
    });

</script>
<form id="upload-form" method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="UploadDocument">
    <div class="frame" id="uploadDocument" style="display:none;">
        <div class="center">
            <div class="bar"></div>
            <div class="title">Drop file to upload</div>
            <div class="dropzone">
                <div class="content">
                    @*TODO change link to file link*@
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload">
                    <span class="filename"></span>
                    <input type="hidden" id="encryptedFileStream" name="EncryptedDocument">
                    <input type="hidden" id="fileName" name="FileName">
                    <input onchange="cryptoManager.encryptFile(event)" type="file" class="input" id="upload-document">
                </div>
            </div>
            <img src="http://100dayscss.com/codepen/syncing.svg" class="syncing">
            <img src="http://100dayscss.com/codepen/checkmark.svg" class="done">
            <div id="ispublic">
                <label>Is Public</label> <input class="form-check-input" asp-for="IsPublic" />
            </div>
            <div class="upload-btn">Upload file</div>
        </div>
    </div>

    <div class="frame" id="keyFrame">
        <div class="center">
            <div class="bar"></div>
            <div class="title">Enter Your Key</div>


            <div id="container">
                <div id="input"></div>
                <input type="text" class="form-control" id="aesKey">
            </div>
            <div class="upload-btn" onclick="uploadManager.submitAesKey()">Submit Key</div>
        </div>
    </div>
</form>