@using SecureDocumentStorage.Models.DocumentViewModels
@model AddEditDocumentViewModel
@{
    ViewData["Title"] = "Upload";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/upload/normalize.min.css" rel="stylesheet" />
<link href="~/css/upload/upload-styles.css" rel="stylesheet" />
<script src="~/js/upload/upload-manager.js"></script>
<script>
    $(document).ready(function () {
        uploadManager.init();
    });
</script>
<form id="upload-form" method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="UploadDocument">
    <div class="frame">
        <div class="center">
            <div class="bar"></div>
            <div class="title">Drop file to upload</div>
            <div class="dropzone">
                <div class="content">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload">
                    <span class="filename"></span>
                    <input type="file" class="input" id="upload-document" asp-for="Document">
                </div>
            </div>
            <img src="http://100dayscss.com/codepen/syncing.svg" class="syncing">
            <img src="http://100dayscss.com/codepen/checkmark.svg" class="done">
            <input asp-for="IsPublic" />
            <div class="upload-btn">Upload file</div>
        </div>
    </div>
</form>